/*Stylesheet*/
@use "reset";


/*General Styling*/
body {
    font-size: 20px;
    margin: 20px;
}


/*Hamburger Menu Styling*/
.menu__holder {
    .menu-toggle__button {
        width: 50px;
        height: 50px;
        background-image: url("img/hamburger_menu.png");
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }

    ul {
        position: absolute;
        top: 80px;
        left: 0;
        margin-left: -100%;
        max-width: 250px;
        width: 100%;
        border: 2px solid white;
        transition: margin-left 400ms ease-in-out;

        &.toggleMenu {
            margin-left: 0px;
        }

        li {
            padding: 10px 20px;
            cursor: pointer;

            &:hover {
                filter: brightness(0.7);
            }
        }
    }
}


//Color options Styling
.color-option {
    &__red {
        $colorOption: #FF6663;
        background-color: $colorOption;
    }

    &__orange {
        $colorOption: #FEB144;
        background-color: $colorOption;        
    }

    &__yellow {
        $colorOption: #FDFD97;
        background-color: $colorOption;    
    }

    &__green {
        $colorOption: #9EE09E;
        background-color: $colorOption;  
    }

    &__blue {
        $colorOption: #9EC1CF;
        background-color: $colorOption;  
    }

    &__purple {
        $colorOption: #CC99C9;
        background-color: $colorOption;  
    }
}

.activeBorder {
    border: solid 3px black;
    font-weight: bold;
}

.selected-color__holder {
    margin-top: 300px;
    text-align: center;
}
